<div class="content-heading">
  <div *ngIf="item">{{(item.id ? 'EDIT' : 'NEW') | translate }} {{'<%=(name).toUpperCase()%>' | translate}} </div>
</div>

<div class="card">
  <div class="content card-body">
    <form *ngIf="item" #editForm="ngForm" (ngSubmit)="save(editForm)">


      <% for (let field of modelFields) { %>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="<%=field.name%>">{{'<%=field.name.toUpperCase() %>' | translate }}</label>
       <%if (field.type === 'date'){ %><input required  #<%=field.name%>="ngModel" type="date" [(ngModel)]="item.<%=field.name%>" id="<%=field.name%>" name="<%=field.name%>" class="form-control"><% } else if (field.type === 'number'){ %><input  #<%=field.name%>="ngModel" required type="number" [(ngModel)]="item.<%=field.name%>" id="<%=field.name%>" name="<%=field.name%>" class="form-control"><% } else if (!field.readonly) { %><input  #<%=field.name%>="ngModel" required [(ngModel)]="item.<%=field.name%>" id="<%=field.name%>" name="<%=field.name%>" class="form-control"><% } %>
        </div>
            <small class="text-danger" role="alert"
                   [hidden]="<%=field.name%>.valid || <%=field.name%>.pristine">
              {{'REQUIRED_FIELD' | translate}}
            </small>

        </div>
      </div>
      <% } %>

      <button type="submit" class="btn btn-success" [disabled]="!editForm.form.valid">
        {{(item.id ? 'SAVE_CHANGES' : 'SAVE') | translate }}
      </button>
      <button type="button" class="btn btn-light ml-1" (click)="cancel()">{{'CANCEL' | translate }}</button>

    </form>
  </div>
</div>
